/* This CSS file defines the design of the dashboard (colors, font-sizes and more)*/

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #464646;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.green {
    color: #0f8021;
}

.yellow {
    color: #807e0f;
}

.red {
    color: #ad0b0b;
}

.disable {
    opacity: 0!important;
}

.dashboard {
    background-color: #f1f1f1;
}

.row {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #ccc;
}

.row-title {
    font-size: 1.4rem;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.soc-text {
    font-size: 8rem;
    letter-spacing: 2px;
}

.soc-unit {
    font-size: 5rem;
}

.battery-figure {
    width: 100%;
    height: 100%;
    padding: 32px 0;
    box-sizing: border-box;
}

.battery-figure-top {
    margin: auto;
    width: 24%;
    height: 4%;
    background-color: #f1f1f1;
    border: 5px solid #888;
    border-radius: 20% 20% 0 0;
    border-bottom: 0;
    box-sizing: border-box;
}

.battery-figure-bottom {
    position: relative;
    margin: auto;
    width: 50%;
    height: 96%;
    background-color: #f1f1f1;
    border: 5px solid #888;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #ccc;
    box-sizing: border-box;
    overflow: hidden;
}

.battery-figure-soc {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0%;
    background-color: #c00d0df2;
    transition: height 0.5s, background-color 0.5s;
}

.status-text {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.power-row {
    opacity: 1;
    transition: opacity 0.5s;
}

.power-text {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translateX(-50%);
    font-size: 5.5rem;
    letter-spacing: 2px;
}

.power-unit {
    font-size: 3rem;
}

.time-row {
    opacity: 1;
    transition: opacity 0.5s;
}

.time-text {
    font-size: 3.5rem;
    letter-spacing: 2px;
    white-space: nowrap;
}

.time-unit {
    font-size: 2rem;
}

.time-description {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translateX(-50%);
    font-size: 2rem;
    white-space: nowrap;
}

.soc-graph-container, .power-graph-container {
    padding: 8px;
}